{% extends 'home/index.html' %}

{% block main %}
    <style>
        tr:not(#table_header) {
            cursor: pointer;
            transition: background-color 0.3s ease;
        }

        td {
            -webkit-user-select: none; /* Safari */
            -moz-user-select: none; /* Firefox */
            -ms-user-select: none; /* IE10+/Edge */
            user-select: none; /* Standard */
        }

        .jumbotron {
            padding: 2rem 1rem;
        }

        .table th, .table td {
            padding: 0.75rem;
        }

        .btn {
            padding: 0;
            width: 100%;
        }

        .repeat-on {
            animation: fa-spin 3s infinite linear;

        }

        #progress_container, #volume_container {
            cursor: pointer;
        }

        @-webkit-keyframes fa-spin {
            0% {
                -webkit-transform: rotate(0deg);
                transform: rotate(0deg)
            }
            100% {
                -webkit-transform: rotate(359deg);
                transform: rotate(359deg)
            }
        }

        @keyframes fa-spin {
            0% {
                -webkit-transform: rotate(0deg);
                transform: rotate(0deg)
            }
            100% {
                -webkit-transfo rm: rotate(359deg);
                transform: rotate(359deg)
            }
        }
    </style>
    <audio src="{{ MEDIA_URL }}music/Lisztomania (Remix).mp3" id="music_player" onended="play_next()">
    </audio>
    <table class="table my-2">
        <thead>
        <tr id="table_header">
            <th scope="col">Name</th>
            <th scope="col">Artist</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td scope="row">Liztomania (Shook Remix)</td>
            <td>Phoenix</td>
            <td style="display: none;">music/Lisztomania (Remix).mp3</td>
        </tr>
        <tr>
            <td scope="row">Kangaroo Court (Shook Remix)</td>
            <td>Capital Cities</td>
            <td style="display: none;">music/Kangaroo Court (Remix).mp3</td>
        </tr>
        <tr>
            <td scope="row">I Lay My Head (Shook Remix)</td>
            <td>Fallulah</td>
            <td style="display: none;">music/I Lay My Head (Remix).mp3</td>
        </tr>
        <tr>
            <td scope="row">Cameo Lover (Shook Remix)</td>
            <td>Kimbra</td>
            <td style="display: none;">music/Cameo Lover (Remix).mp3</td>
        </tr>
        <tr>
            <td scope="row">Multi-Millionaire (Shook Remix)</td>
            <td>Penguin Prison</td>
            <td style="display: none;">music/Multi-Millionaire (Remix).mp3</td>
        </tr>
        <tr>
            <td scope="row">The Worse It Gets (Shook Remix)</td>
            <td>Penguin Prison</td>
            <td style="display: none;">music/The Worse It Gets (Remix).mp3</td>
        </tr>
        <tr>
            <td scope="row">Millionär</td>
            <td>Die Prinzen</td>
            <td style="display: none;">music/01 Millionär.m4a</td>
        </tr>
        </tbody>
    </table>
    <div class="fixed-bottom jumbotron m-0">
        <h1 id="player_song_title" class="display-5">Lisztomania (Shook Remix)</h1>
        <div class="row" style="align-items:center;">

            <div class="col-md-8 my-1">
                <div class="row" style="align-items:center;">
                    <div class="col-2">
                        <div class="button-group">
                            <button type="button" class="btn btn-primary" onclick="play_pause_clicked()">
                                <i id="play_pause_icon" class="fa fa-play"></i>
                            </button>
                        </div>
                    </div>
                    <div class="col-10">
                        <div id="progress_container" class="progress bg-dark">
                            <div id="progress_bar" class="progress-bar bg-info" role="progressbar" style="width: 0%"
                                 aria-valuemin="0"
                                 aria-valuemax="100">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 my-1">
                <div class="row" style="align-items:center;">
                    <div class="col-3">
                        <button id="mute_button" type="button" class="btn btn-primary" onclick="mute_toggle()">
                            <i id="mute_icon" class="fa fa-volume-up"></i>
                        </button>
                    </div>
                    <div class="col-6">
                        <div id="volume_container" class="progress bg-dark">
                            <div id="volume_bar" class="progress-bar bg-info" role="progressbar" style="width: 100%"
                                 aria-valuemin="0"
                                 aria-valuemax="100">
                            </div>
                        </div>
                    </div>
                    <div class="col-3">
                        <button id="repeat_button" type="button" class="btn btn-primary" onclick="repeat_clicked()">
                            <i id="repeat_icon" class="fa fa-redo"></i>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
        let player = document.getElementById('music_player');
        let media_base = "{{ MEDIA_URL }}";

        function mute_toggle() {
            if (player.muted) {
                player.muted = false;
                $("#mute_icon").addClass("fa-volume-up").removeClass("fa-volume-off");
                $("#mute_button").addClass("bg-primary").removeClass("bg-danger");
            } else {
                player.muted = true;
                $("#mute_icon").removeClass("fa-volume-up").addClass("fa-volume-off");
                $("#mute_button").removeClass("bg-primary").addClass("bg-danger");
            }
        }

        function repeat_clicked() {
            let repeat_button = $("#repeat_button");
            if (repeat_button.hasClass("btn-info")) {
                repeat_button.removeClass("btn-info").addClass("btn-primary");
                $("#repeat_icon").removeClass("repeat-on");
                player.loop = false;
            } else {
                repeat_button.addClass("btn-info").removeClass("btn-primary");
                $("#repeat_icon").addClass("repeat-on");
                player.loop = true;
            }
        }

        function play_pause_clicked() {
            if (player.paused) {
                player.play();
                $('#play_pause_icon').addClass('fa-pause').removeClass('fa-play');
            } else {
                player.pause();
                $('#play_pause_icon').addClass('fa-play').removeClass('fa-pause');
            }
        }

        function play_next() {
            let next = false;
            let base = "http://" + window.location.host + media_base;
            let found = false;
            $.each($("tr:not(#table_header)"), function () {
                let full = base + $(this.children[2]).html().replace(/\s/g, "%20");
                if (next) {
                    this.click();
                    found = true;
                    return false;
                }
                if (full === player.src) {
                    next = true;
                }
            });
        }

        $("tr:not(#table_header)").hover(
            function () {
                $(this).addClass("bg-dark")
            },
            function () {
                $(this).removeClass("bg-dark")
            }
        );

        $(document).ready(function () {
            $('#progress_container').click(function (e) {
                let posX = e.pageX - $(this).offset().left;
                let width = $(this).width();
                let target_percent = posX / width;
                player.currentTime = parseInt(target_percent * player.duration);
                update_playbar();
            });
            $('#volume_container').click(function (e) {
                let posX = e.pageX - $(this).offset().left;
                let width = $(this).width();
                let target_percent = parseFloat(posX / width);
                target_percent = target_percent > .95 ? 1.0 : target_percent;
                player.volume = target_percent;
                update_volume_bar();
            });
            $("tr").click(function (e) {
                if (this.id !== "table_head") {
                    $("#player_song_title").html($($($(this)[0]).children()[0]).html());
                    player.src = media_base + $($($(this)[0]).children()[2]).html();
                    player.play();
                    $('#play_pause_icon').addClass('fa-pause').removeClass('fa-play');
                }
            });
            update_playbar();
            update_volume_bar();
        });

        function update_playbar() {
            $('#progress_bar').css('width', (player.currentTime * 100 / player.duration) + '%');
        }

        function update_volume_bar() {
            $('#volume_bar').css('width', (player.volume * 100) + '%');
        }

        setInterval(function () {
            update_playbar();
        }, 600);
    </script>
{% endblock %}