{% extends 'home/index.html' %}

{% load staticfiles %}

{% block head %}
    <script src="{% static 'video/jquery_fileupload/vendor/jquery.ui.widget.js' %}"></script>
    <script src="{% static 'video/jquery_fileupload/jquery.fileupload.js' %}"></script>
    <script src="{% static 'video/jquery_fileupload/jquery.fileupload-ui.js' %}"></script>
    <script src="{% static 'video/target.js' %}"></script>
{% endblock %}

{% block main %}
<div class="row">
    <div class="col-12">
        {{ form.non_field_errors }}
        <form id="chunked_upload" enctype="multipart/form-data" method="post">
                {% csrf_token %}
                {% for field in form %}
                <div class="form-group row">
                    {{ field.errors }}
                    {{ field.label }}
                    {{ field }}
                </div>
                {% endfor %}
                <div class="form-group row progress">
                    <div id="upload_progress" class="progress-bar bg-info" role="progressbar" style="width: 0%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
                <div class="row">
                    <input id="KILLMENOW" class="btn btn-primary" type="submit" />
                </div>
         </form>
    </div>
</div>
{% endblock %}
