{% extends 'home/index.html' %}

{% load staticfiles %}

{% block head %}
{% endblock %}

{% block main %}
    {% for vid in videos %}
    <a href="/video/play/{{ vid.slug }}/">
        <div class="row my-2">
            <div class="col-4">
                <img class="img-fluid" src="{% url 'getter_file' video_slug=vid.slug filetype='thumbnail' %}">
            </div>
            <div class="col-8 bg-primary text-white">
                <div class="card-header">{{ vid.collection }}</div>
                <div class="card text-white bg-primary mb-3">
                    <div class="card-body">
                        <h4 class="card-title">{{ vid.title }}</h4>
                        <p class="card-text">{{ vid.preview_text }}</p>
                    </div>
                </div>
            </div>
        </div>
    </a>
    {% endfor %}
{% endblock %}

