{% extends 'home/index.html' %}

{% block head %}
<style>
img {
    display: block;
    margin: 0 auto;
    max-width: 90%;
    height: auto;
}
</style>
{% endblock %}

{% block main %}
    <div class="row my-4">
        <div class="col-md-12">
            <h1>{{ blog_entry.title }}</h1>
            <h4>Post date: {{ blog_entry.date_created|date:'F j, Y' }}</h4>
            {% if blog_entry.date_modified != blog_entry.date_created %}
                <h4>{{ blog_entry.date_modified }}</h4>
            {% endif %}
        </div>
    </div>
    <div class="row my-4">
        <div class="col-md-12 text-primary">
            {{ blog_entry.body|safe }}
        </div>
    </div>
{% endblock %}