{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="{% static 'video/css/bootstrap.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'video/fontawesome/css/all.css' %}">
    <link rel="shortcut icon" href="{% static 'video/image/favicon.ico' %}"/>
    <script src="{% static 'video/js/jquery-3.3.1.min.js' %}"></script>
    <script src="{% static 'video/js/bootstrap.js' %}"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Django Video</title>
    {% block head %}
    {% endblock %}
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <a class="navbar-brand" href="{% url 'video_index' %}">Django HLS Video</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01"
            aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarColor01">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="{% url 'video_index' %}">Videos</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'user_uploads' %}">Uploads</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'collection_edit' %}">Manage Collections</a>
            </li>
        </ul>
    </div>
</nav>
<div class="container">
    <div class="jumbotron py-3">
        <div class="container text-center">
            <h1 class="mb-0">{% block page_title %}{% endblock %}</h1>
        </div>
    </div>
    {% if messages %}
        <div class="row">
            {% for message in messages %}
                <div class="col-md-12 {% if message.tags %}{{ message.tags }}{% endif %}">
                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                    <span>
                        <strong>{{ message }}</strong>
                    </span>
                </div>
            {% endfor %}
        </div>
    {% endif %}
    {% block main %}
    {% endblock %}
</div>
</body>
</html>
