{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="{% static 'video/css/bootstrap.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'video/fontawesome/css/all.css' %}">
    <link rel="shortcut icon" href="{% static 'video/image/favicon.ico' %}"/>
    <script src="{% static 'video/js/jquery-3.3.1.min.js' %}"></script>
    <script src="{% static 'video/js/bootstrap.js' %}"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>ritlew.com</title>
    {% block head %}
    {% endblock %}
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <a class="navbar-brand" href="{% url 'video_index' %}">ritlew</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01"
            aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarColor01">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="#">Home<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'video_index' %}">Videos</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'uploads_progress' %}">Uploads</a>
            </li>
        </ul>
    </div>
</nav>
<div class="container">
    {% block main %}
    {% endblock %}
</div>
</body>
</html>
