{% extends 'video/base.html' %}

{% load staticfiles %}

{% block head %}
    <script src="{% static 'video/jquery_fileupload/vendor/jquery.ui.widget.js' %}"></script>
    <script src="{% static 'video/jquery_fileupload/jquery.fileupload.js' %}"></script>
    <script src="{% static 'video/jquery_fileupload/jquery.fileupload-ui.js' %}"></script>
    <link href="{% static 'video/css/form.css' %}" type="text/css" rel="stylesheet">
    {{ form.media }}
{% endblock %}

{% block main %}
<div class="row my-2">
    <div class="col-12">
        {% block before_form %}
        {% endblock %}
        <div class="row">
            <div class="col-md-12" id="submit-alerts">
            </div>

            <form class="col-md-12" enctype="multipart/form-data" method="post">
                <div class="row">
                    <div class="col-md-12">
                        {{ form.non_field_errors }}
                    </div>
                </div>

                {% csrf_token %}
                {% for field in form %}
                <div class="form-group row">
                    <div class="col-md-12">
                        {{ field.errors }}
                        {{ field.label }}
                        {{ field }}
                    </div>
                </div>
                {% endfor %}
                <div class="row">
                    <div class="col-md-3">
                        <input id="info-submit-button" class="btn btn-primary" type="submit" value="Save"/>
                    </div>
                </div>
            </form>
        </div>
        {% block after_form %}
        {% endblock %}
    </div>
</div>
{% endblock %}
