{% extends 'video/base.html' %}

{% load staticfiles %}

{% block head %}
    <script src="{% static 'video/target.js' %}"></script>
<style>
#processing-progress{
    transition: width .5s linear;
}
</style>
{% endblock %}

{% block main %}
<div id="main">
</div>
<script>
    if (location.protocol === 'https:'){
        WEBSOCKET_PROTOCOL = 'wss://'
    } else {
        WEBSOCKET_PROTOCOL = 'ws://'
    }
    trackProgress(function(data){
        results = data.uploads;
        console.log(results);
        if (results.length > 0){
            test = results[0];
            $('#main').html(`
<div class="row">
<div class="col-lg-12 card text-white bg-primary m-1">
  <div class="card-body">
    <h4 class="card-title">${test.title}</h4>
        <div class="form-group row progress">
            <div id="processing_progress" class="progress-bar bg-info" role="progressbar" style="width: ${test.progress}%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
        </div>
    <p class="card-text"></p>
  </div>
</div>
</div>
                          `);
        $("#processing_progress").html(`Encoded ${test.current}s of ${test.total}s`);
        }
    }, 1000);
</script>
{% endblock %}
